body {
    padding-top: 75px;
    padding-bottom: 50px;
    font-size: 16px;
}

footer {
    text-align: center;
    margin-top: 100px;
}

button:hover {
    cursor: pointer;
}

.chunk {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    &.playing {
        background-color: #f3f315;
    }
}

.debug-label,
.debug-label input {
    &:hover {
        cursor: pointer;
    }
}

.control-bar {
    position: fixed;
    top: 25px;
    text-align: center;
    width: 100%;

    &.played-once:after {
        margin-top: -10px;
        content: '✇';
        display: block;
        color: #999;
    }

    &.playing:after {
        @extend .spin;
        color: #111;
    }
}

.line-number {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    font-family: monospace;
}

.spin {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
